@import "~bootstrap/scss/functions";
@import "custom/functions";

@import "~bootstrap/scss/variables";
@import "custom/color-schemes/default";
@import "custom/variables-bootstrap";
@import "custom/variables-theme";

$body-color: #e9e9f2;
$link-color: $info;
$body-bg: #11111a;
$primary: $info;

// Custom variables go here
$headings-font-family: Iceland;

@import "~bootstrap/scss/bootstrap";
@import "custom/components";

///* iceland-regular - latin */
@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Regular'),
  url('../fonts/iceland-v8-latin-regular.woff') format('woff')
}

