@import "../../../styles/custom/color-schemes/default";


.wrapper-card {
  margin: 2em;
  padding: 2em;
}

.d-flex {
  color: $info;
}

.wrapper-play {
  padding: 1em;
  background: $primary-3;
}

.row {
  padding-bottom: 20px;
}

h2.text-center {
  color: #f2f4f6;
}

